*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

/* Colors */

$primary-color: #db4566;
$secondary-color: #109dbd;
$purple-color: #9242dd;
$light-pink: #f9ece6;
$light-black: #2d2d2d;
$white-color: #fff;
$black-color: #000;
$pink-color: #f89cab;
$light-grey: #f9f8f7;
$grey-color: #eeeeee;
$light-sky: #7fd7eb;
$svg-fill: #320b57;
$gift-color: #6929a5;
$grey: #cbc9c9;

/* Colors */

html{
  scroll-behavior: smooth;
  -webkit-scroll-behavior : smooth;
  -moz-scroll-behavior : smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $white-color;
  padding: 2.5rem 2.5rem 2.5em;
}

header {
  position: relative;
  .logo a {
    display: block;
    text-align: center;
    color: $black-color;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
  }
  .burger {
    display: none;
    div {
      width: 33px;
      height: 4px;
      margin: 5px;
      background: $black-color;
      border-radius: 6px;
    }
  }
  nav {
    background: $light-pink;
    border-radius: 10px 10px 0 0;
    .nav_links {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0.5rem 0;
      li {
        margin: 0 1.5rem;
        a {
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          color: $black-color;
          font-size: 1rem;
        }
        &:last-child a {
          display: inline-block;
          margin: 0 0.8rem;
          span {
            padding-right: 0.5rem;
          }
        }
        &.active__link a {
          background-color: $white-color;
          padding: 0.3rem 1.5rem;
        }
        &.other_active__link a{
          background-color: $grey;
          padding: 0.3rem 1.5rem;
        }
      }
    }
  }
}
/* Other page nav */
.other_page__nav{
  background-color: $white-color;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}
/* Other page nav */
.hero-section {
  background: $pink-color;
  color: $white-color;
  border-radius: 0 0 10px 10px;
  .hero-slider {
    .swiper-wrapper {
      .swiper-slide {
        .hero {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          place-items: center;
          padding: 5rem 5rem;
          .hero_content {
            h1 {
              font-size: 3.5rem;
              line-height: 1.2;
            }
            p {
              padding: 1.5rem 0 2rem;
            }
            .btn-hero {
              display: inline-block;
              text-decoration: none;
              text-transform: uppercase;
              color: $white-color;
              background: $primary-color;
              padding: 0.7rem 2.5rem;
              border-radius: 6px;
              transition: 0.3s;
              border: 1px solid $primary-color;
              &:hover {
                background: transparent;
                color: $primary-color;
              }
            }
          }
          .hero_img-bx {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .arrow_box {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white-color;
      position: relative;
      width: 200px;
      height: 50px;
      left: 5%;
      border-radius: 10px 10px 0 0;
      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        bottom: 0;
        color: $black-color;
        &::after {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }
}

.products {
  .product-heading {
    text-align: center;
    margin: 4.5rem 0 2rem;
    h2 {
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
  .product-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem 3rem;
    a {
      text-decoration: none;
      .card {
        background: $grey-color;
        padding: 1rem 0.8rem;
        border-radius: 6px;
        .card__top {
          p {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $white-color;
            color: $black-color;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
          }
        }
        .car__middle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1rem 0;
          img {
            max-width: 100%;
            max-height: 145px;
          }
        }
        .card__buttom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            color: $black-color;
            font-weight: 600;
            span {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .product-buttom {
    text-align: center;
    margin: 1rem 0;
    .product_btn {
      text-decoration: none;
      color: $white-color;
      background: $primary-color;
      padding: 0.6rem 2.5rem;
      display: inline-block;
      border-radius: 5px;
      transition: 0.3s;
      border: 1px solid $primary-color;
      &:hover {
        background: transparent;
        color: $primary-color;
      }
    }
  }
}

.sale-section {
  background: $light-sky;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  place-items: center;
  padding: 4rem 2rem 0;
  color: $white-color;
  margin: 6rem 0 4rem;
  border-radius: 10px;
  .sale__imgbx {
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  .sale__content {
    padding-left: 1rem;
    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 1.2;
      margin-bottom: 1.5rem;
    }
    p {
      margin-bottom: 1.5rem;
    }
    .sale_btn__1 {
      display: inline-block;
      text-decoration: none;
      padding: 0.5rem 2.79rem;
      color: $white-color;
      background: $secondary-color;
      border: 1px solid $secondary-color;
      margin-right: 0.5rem;
      transition: 0.3s;
      font-weight: 400;
      &:hover {
        color: $secondary-color;
        background: transparent;
      }
    }
    .sale_btn__2 {
      display: inline-block;
      text-decoration: none;
      color: $black-color;
      background: $white-color;
      padding: 0.5rem 2.6rem;
      border: 1px solid $white-color;
      font-weight: 400;
      transition: 0.3s;
      &:hover {
        background: transparent;
        color: $white-color;
      }
    }
  }
}

.why-section {
  margin-top: 3rem;
  .why-heading {
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
  .why-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem 3rem;
    .why-card {
      text-align: center;
      background: $light-grey;
      padding: 1.5rem 1rem;
      border-radius: 8px;
      .why-imgbx {
        margin-bottom: 0.6rem;
        img {
          width: 55px;
          height: auto;
          fill: $svg-fill;
        }
      }
      .why-details {
        h3 {
          font-weight: 600;
          margin-bottom: 0.6rem;
        }
        p {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.gifts-section {
  border-radius: 10px;
  background: $gift-color;
  margin: 3rem 0 1rem;
  .gifts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    .gift-imgbx {
      flex: 0 0 41.666667%;
      .img-container {
        padding: 60px 0 60px 30px;
        img {
          width: 100%;
        }
      }
    }
    .gift-content-bx {
      flex: 0 0 58.333333%;
      color: $white-color;
      margin-left: 1rem;
      h2 {
        font-size: 2.2rem;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1.5rem;
        padding-right: 2rem;
      }
      .gift_btn1 {
        display: inline-block;
        text-decoration: none;
        color: $black-color;
        background: $white-color;
        padding: 0.6rem 3rem;
        margin: 0 1rem 1rem 0;
        transition: 0.3s;
        border: 1px solid $white-color;
        &:hover {
          background: transparent;
          color: $white-color;
        }
      }
      .gift_btn2 {
        display: inline-block;
        text-decoration: none;
        color: $white-color;
        background: $purple-color;
        padding: 0.6rem 3rem;
        transition: 0.3s;
        border: 1px solid $purple-color;
        &:hover {
          background: transparent;
          color: $purple-color;
        }
      }
    }
  }
}

.contact-section {
  margin-top: 4.5rem;
  .contact__heading {
    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 3rem;
    }
  }
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    background-color: $white-color;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    .map_container {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
      // height: 100%;
      min-height: 375px;
      .map-responsive {
        height: 100%;
      }
    }
    .contact-form {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
      form {
        padding: 1rem 2rem;
        margin-top: 2rem;
        .form-grup {
          margin-bottom: 1.2rem;
          .input__grup {
            width: 100%;
            height: 8vh;
            outline: none;
            border: 1px solid #919191;
            padding-left: 1rem;
            color: #101010;
            background-color: transparent;
            font-size: 1rem;
            &::placeholder {
              color: #101010;
            }
          }
          .mesage_input {
            height: 25vh;
          }
        }
        .form-btn {
          margin: 3rem auto 3.5rem;
          text-align: center;
          #submit__btn {
            color: $white-color;
            background-color: $primary-color;
            outline: none;
            border: 1px solid $primary-color;
            display: inline-block;
            padding: 0.8rem 2rem;
            text-transform: uppercase;
            transition: 0.3s;
            cursor: pointer;
            font-size: 1rem;
            &:hover {
              background-color: transparent;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.testimonial-section {
  margin-top: 4rem;
  margin-bottom: 3rem;
  .testimonial-heading {
    text-align: center;
    h2 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .testimonial-container {
    margin-top: 3rem;
    .testimonial-slider {
      width: 100%;
      height: 100%;
      .swiper-wrapper {
        .swiper-slide {
          .testimonial_user {
            width: 90%;
            margin: 0 auto;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1),
              0 0 5px 0 rgba(0, 0, 0, 0.25);
            background: antiquewhite;
            padding: 1.5rem;

            .user-profile {
              display: flex;
              justify-content: space-between;
              padding-bottom: 0.5rem;
              .name {
                h3 {
                  color: $primary-color;
                  font-size: 1.5rem;
                }
                p {
                  color: #bfc0c0;
                }
              }
              .quote {
                i {
                  font-size: 1.5rem;
                }
              }
            }
            .user-comments {
              p {
                color: #101010;
                font-weight: 500;
              }
            }
          }
        }
      }
      .swiper-button-prev {
        background-color: #db4566;
        color: #fff;
        width: 40px;
        height: 135px;
        left: 22px;
        top: 27%;
        &::after {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      .swiper-button-next {
        background-color: #db4566;
        color: #fff;
        width: 40px;
        height: 135px;
        right: 22px;
        top: 27%;
        &::after {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

footer {
  background: $light-black;
  padding: 3rem 3.5rem 1rem;
  color: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  .social-icon {
    ul {
      display: flex;
      margin: 1.6rem 0 3.5rem;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 1.5rem;
        a {
          text-decoration: none;
          color: $grey;
          font-size: 1.3rem;
          transition: 0.3s;
          &:hover{
            color: $white-color;
          }
        }
      }
    }
  }
  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-bottom: 3rem;
    grid-gap: 1.5rem;
    div {
      .footer-header {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: $white-color;
      }
    }
    .news__letter {
      h4 {
        text-transform: capitalize;
        font-weight: 500;
      }
      form {
        input {
          display: block;
          width: 100%;
          height: 7vh;
          font-size: 1rem;
          padding-left: 0.6rem;
          border: none;
          outline: none;
          margin-bottom: 0.8rem;
          &::placeholder {
            color: $grey;
          }
        }
        button {
          display: block;
          background: $pink-color;
          color: $white-color;
          outline: none;
          border: none;
          text-transform: uppercase;
          padding: 0.8rem 3rem;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;
          border: 1px solid $pink-color;
          transition: 0.3s;
          &:hover{
          background: transparent;
          color: $pink-color;
          }
        }
      }
    }
    .contact__us{
      ul{
        li{
          list-style-type: none;
          a{
            color: $grey;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 0.5rem;
            transition: 0.3s;
            &:hover{
              color: $white-color;
            }
            span{
              color: $white-color;
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  .creadit{
    text-align: center;
    .creadit-top-border{
      width: 70vw;
      height: 1px;
      background: $white-color;
      margin: 1rem 0;
    }
    p{
      a{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

/* MEDIA QUERY */

@media screen and (max-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.5rem;
    .logo a {
      padding: 0;
    }
    .burger {
      display: block;
      cursor: pointer;
      transition: 0.3s;
    }
    nav {
      position: absolute;
      top: 12vh;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0;
      visibility: hidden;
      opacity: all 0.6 ease;
      .nav_links {
        flex-direction: column;
        li {
          margin: 1rem 0;
        }
      }
    }
  }

  .hero-section {
    .hero-slider {
      .swiper-wrapper {
        .swiper-slide {
          .hero {
            padding: 4rem 2.5rem;
            .hero_content {
              h1 {
                font-size: 2.8rem;
              }
            }
          }
        }
      }
    }
  }

  /* Active Classes */
  .nav_active {
    opacity: 1;
    visibility: visible;
  }
  .burger_active {
    transform: rotate(360deg);
  }
  .toggle .line1 {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
    transition: 0.3s;
  }
  .toggle .line3 {
    transform: rotate(-45deg) translate(5px, -9px);
  }
  .header-active {
    margin-bottom: 23rem;
  }
  /* Active Classes */

  .products {
    .product-card {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .sale-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 2rem 0;
    margin: 3rem 0 2rem;
    .sale__imgbx {
      order: 2;
      margin-top: 4rem;
    }
    .sale__content {
      order: 1;
      margin-bottom: 0;
    }
  }

  .contact-section {
    .contact-container {
      .map_container {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .contact-form {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  .testimonial-section {
    .testimonial-container {
      .testimonial-slider {
        min-height: 370px;
        .swiper-wrapper {
          .swiper-slide {
            .testimonial_user {
              width: 100%;
              margin: 0;
              padding: 1rem;
              border-radius: 15px;
            }
          }
        }
        .swiper-button-prev {
          left: 42%;
          top: unset;
          bottom: 5%;
          width: 50px;
          height: 50px;
          transform: translate(-50%, -50%);
        }
        .swiper-button-next {
          right: 42%;
          top: unset;
          bottom: 5%;
          width: 50px;
          height: 50px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  footer{
    .footer-bottom{
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      div{
        margin-top: 2rem;
      }
      
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-section {
    .hero-slider {
      .swiper-wrapper {
        .swiper-slide {
          .hero {
            grid-template-columns: repeat(1, 1fr);
            place-items: unset;
            padding: 4rem 2.5rem 2.5rem;
            .hero_content {
              margin-bottom: 3rem;
            }
            .hero_img-bx {
              img {
                max-width: 275px;
              }
            }
          }
        }
      }
    }
  }

  .products {
    .product-card {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 1rem 0;
    }
  }

  .why-section {
    .why-content {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      padding: 1.5rem 1rem;
      // .why-card{
      //   .why-details{

      //   }
      // }
    }
  }

  .gifts-section {
    padding: 2rem 0;
    .gifts {
      padding: 0 1rem;
      flex-wrap: wrap;
      .gift-imgbx {
        flex: 0 0 100%;
        .img-container {
          padding: 0 1rem;
          margin-bottom: 2.5rem;
        }
      }
      .gift-content-bx {
        flex: 0 0 100%;
      }
    }
  }

  .contact-section {
    .contact-container {
      .map_container {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .contact-form {
        flex: 0 0 100%;
        max-width: 100%;
        form {
          .form-btn {
            margin: 2rem auto 1.5rem;
          }
        }
      }
    }
  }

  .testimonial-section {
    .testimonial-container {
      .testimonial-slider {
        .swiper-button-prev {
          left: 40%;
          bottom: 0;
        }
        .swiper-button-next {
          right: 38%;
          bottom: 0;
        }
      }
    }
  }

  footer{
    .footer-bottom{
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      div{
        margin-top: 2rem;
      }
      .news__letter{
        form{
          input{
            width: 100%;
            padding-left: 1.5rem;
            margin-bottom: 1.5rem;
          }
          button{
          margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 626px) {
  .testimonial-section {
    .testimonial-container {
      .testimonial-slider {
        min-height: 390px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  body {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  .hero-section {
    .hero-slider {
      .swiper-wrapper {
        .swiper-slide {
          .hero {
            padding: 3rem 1.5rem 2.5rem;
            .hero_content {
              h1 {
                font-size: 2.2rem;
              }
            }
            .hero_img-bx {
              img {
                max-width: 275px;
              }
            }
          }
        }
      }
    }
  }

  .products {
    .product-card {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
      padding: 1rem;
    }
  }

  .sale-section {
    padding: 2rem 0 0;
    padding: 2rem 0.5rem 0;
    .sale__content {
      h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      .sale_btn__1 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .contact-section {
    .contact-container {
      .contact-form {
        form {
          padding: 0.5rem 0.8rem;
        }
      }
    }
  }

  .testimonial-section {
    .testimonial-container {
      .testimonial-slider {
        min-height: 400px;
        .swiper-button-next {
          right: 30%;
          bottom: -5%;
        }
        .swiper-button-prev {
          left: 38%;
          bottom: -5%;
        }
      }
    }
  }

}

@media screen and (max-width: 496px) {
  .testimonial-section {
    .testimonial-container {
      .testimonial-slider {
        min-height: 450px;
        .swiper-button-next {
          right: 33%;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .testimonial-section {
    .testimonial-container {
      .testimonial-slider {
        min-height: 530px;
        .swiper-button-next {
          right: 26%;
        }
      }
    }
  }
}

@media screen and (max-width: 330px) {
  body {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .hero-section {
    .hero-slider {
      .swiper-wrapper {
        .swiper-slide {
          .hero {
            .hero_content {
              h1 {
                font-size: 1.8rem;
              }
              .btn-hero {
                padding: 0.6rem 1.5rem;
              }
            }
          }
        }
      }
      .arrow_box {
        left: 3%;
      }
    }
  }
  .products {
    .product-card {
      padding: 0.5rem;
    }
  }
  .sale-section {
    padding: 1.5rem 0.5rem 0;
    .sale__content {
      padding: 0;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .testimonial-section {
    .testimonial-container {
      .testimonial-slider {
        min-height: 670px;
        .swiper-button-next {
          right: 16%;
          bottom: -2%;
        }
        .swiper-button-prev {
          bottom: -2%;
        }
      }
    }
  }
}
